@import "_base/*"
@import "_index/*"
@import "_post/*"
@import "_archive/*"
@import "_about/*"
@import "_category/*"
@import "_tag/*"
@import "_links/*"

.Focus background-image linear-gradient(to top, #66BAB7 30%, rgba(0,0,0,0) 50.1%)
