.header {
    background-color: grey;
    height: 100px;
}

.disable {
    width: 30%;
    height: 600px;
    background-image: url(../img/disable.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: pink;
}

.go {
    width: 15%;
    height: 600px;
    background-color: blue;
}

.helper {
    width: 30%;
    height: 600px;
    background-color: gray;
    background-image: url(../img/helper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -250px;
}


}
.banner_footer {
    background-color: black;
    height: 200px;
}