header {
    background-color: #fefae0;
}

.bigfont {
    font-size: 80px;
    font-family: 'Ma Shan Zheng', cursive;
}

.disable {
    width: 30%;
    height: 6 00px;
    background-image: url(../img/helpme.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e9c46a;
    opacity: 100%;
    writing-mode: vertical-rl;
    position: relative;
}

.disable h2 {
    position: absolute;
    left: -75px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bolder;
}

.disable:hover {
    transform: translateX(-150px);
    transition: all 2s;
    opacity: 20%;
}

.go {
    width: 15%;
    height: 600px;
    position: relative;
    z-index: 999;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    0% {
        top: 0px;
    }
    25% {
        top: 25px;
    }
    50% {
        top: 50px;
    }
    75% {
        top: -50px;
    }
    100% {
        top: 0px;
    }
}

.heart {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    margin: 100px auto;
    animation: size 1s infinite;
    animation-direction: alternate;
}

.heart::before,
.heart::after {
    content: "";
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
}

.heart::before {
    left: -90px;
}

.heart::after {
    top: -90px;
}

@keyframes size {
    0% {
        transform: scale(0.6) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(45deg);
    }
}

.helper {
    width: 30%;
    height: 600px;
    background-color: gray;
    background-image: url(../img/warriors.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 57px;
    writing-mode: vertical-rl;
    position: relative;
}

.helper h2 {
    position: absolute;
    right: -75px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bolder;
}

.helper:hover {
    transform: translateX(150px);
    transition: all 2s;
}

.banner_footer {
    background-color: black;
    height: 200px;
}

.slogan {
    padding: 50px;
    display: block;
    background-color: wheat;
    border-radius: 60%;
}

.unliststyle {
    margin: 0px 100px;
    list-style: none;
}

.god {
    top: 108px;
    left: -10px;
}

.david {
    top: -85px;
    left: 81px;
}