<% if (theme.post.meta.author && theme.post.meta.author.enable && (page.author || config.author)) { %>

  <% if ((page.author || config.author)=='油圈' ) { %>

    <div class="AuthorInfo">
      <div style="margin-right: 48px;">
        <img style="width:75%;height:75%;border-radius: 50%;"
          src="https://www.ss.net.tw/images/product_images/popup_images/Kandinsky040.jpg" alt="大頭貼">
      </div>
      <div style="padding: 20px 0;">
        <p>油圈<span style="color: gray;margin-left: 10px;">Unicorn Developer</span></p>
        <p>
          關注於各種<strong>【設計、程式】</strong>有關的事物，
          由資訊科系自學轉往完全不同的科系景觀設計，
          拿到各種獎項與榮耀以為有前途的畢業，
          發現沒"錢"途又自學滾回資訊領域，成為了網站工程師，
          自許再成為<a href="https://medium.com/@harivigneshjayapalan/life-of-a-unicorn-developer-d442b6655399" target="_blank"><strong>【獨角獸開發者】</strong></a>的道路上。
        </p>
      </div>
    </div>

    <% } %>

      <% if ((page.author || config.author)=='愷弟貓男' ) { %>

        <div class="AuthorInfo">
          <div style="width:100%;height:50%;text-align: center;">
            <img style="border-radius: 8px; width: 200px;" src="https://i.imgur.com/6nmYg7L.jpg" alt="大頭貼">
          </div>
          <div style="padding: 20px;">
            <p>愷弟貓男<span style="color: gray;margin-left: 10px;">成長駭客</span></p>
            <p>
              涉略外文、商管、資工，秉持者商業本於人，<strong>【科技來自人性】</strong>的思想
              相信可以藉由自己所學，將科技解方解決商業模式所面對的痛點，
              在資訊大爆炸的時代，專注於<strong>【創意思考、整合行銷】</strong><br>
              期望利用人本行銷，用資訊創造一條新航道!!
            </p>
          </div>
        </div>

        <% } %>

          <% if ((page.author || config.author)=='龔龔' ) { %>

            <div
              style="background-color: rgb(0 0 0 / 5%);border-radius: 5px;padding:24px 48px;display:flex;box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 10px 3px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);">
              <div style="width:100%;height:50%;margin-right: 48px;">
                <img style="border-radius: 50%;"
                  src="https://progressbar.tw/uploads/user/avatar/1217/medium_Vincent.jpg" alt="大頭貼">
              </div>
              <div style="padding: 20px 0;">
                <p>龔龔<span style="color: gray;margin-left: 10px;">家教</span></p>
                <p>
                  喜歡把混亂的事情變的簡單
                  用嘴巴做事其實很可以
                  但要結合靈活的腦袋思考
                  就一起來拆解吧
                </p>
              </div>
            </div>

            <% } %>


              <% } %>
