
  <% if (theme.post.meta.author && theme.post.meta.author.enable && (page.author || config.author)) { %>

  <% if ((page.author || config.author) == '油圈') { %>

  <div style="border-radius: 5px;padding:24px 48px;display:flex;box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);">
    <div style="width: 370px;margin-right: 48px;">
      <img style="border-radius: 50%;" src="https://images.cakeresume.com/R4k02/s1064007/7cced731-0ad1-46fa-ade2-a82e71b55d9c.png" alt="Medium vincent">
    </div>
    <div style="padding: 20px 0;">
      <p>Vincent Ke<span style="color: gray;margin-left: 10px;">工程師</span></p>
      <p>
        關注於商業與科技相關資訊，也喜歡與人分享新知，互相交流。雖然主修是外語系，
        但我不排斥任何能夠學習的機會，並勇於接受挑戰，因此修習許多外系課程，
        像是資工系「計算機概論」，「程式設計(python爬蟲)」
      </p>
    </div>
  </div>

  <% } %>

  <% if ((page.author || config.author) == '愷子') { %>

    <div style="border-radius: 5px;padding:24px 48px;display:flex;box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);">
      <div style="width: 370px;margin-right: 48px;">
        <img style="border-radius: 50%;" src="https://progressbar.tw/uploads/user/avatar/1217/medium_Vincent.jpg" alt="Medium vincent">
      </div>
      <div style="padding: 20px 0;">
        <p>Vincent Ke<span style="color: gray;margin-left: 10px;">工程師</span></p>
        <p>
          喜歡把混亂的事情變的簡單
          用嘴巴做事其實很可以
          但要結合靈活的腦袋思考
          就一起來拆解吧
        </p>
      </div>
    </div>

    <% } %>

    <% if ((page.author || config.author) == '龔龔') { %>

      <div style="border-radius: 5px;padding:24px 48px;display:flex;box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);">
        <div style="width: 370px;margin-right: 48px;">
          <img style="border-radius: 50%;" src="https://progressbar.tw/uploads/user/avatar/1217/medium_Vincent.jpg" alt="Medium vincent">
        </div>
        <div style="padding: 20px 0;">
          <p>Vincent Ke<span style="color: gray;margin-left: 10px;">工程師</span></p>
          <p>
            喜歡把混亂的事情變的簡單
            用嘴巴做事其實很可以
            但要結合靈活的腦袋思考
            就一起來拆解吧
          </p>
        </div>
      </div>

      <% } %>


  <% } %>
