<div id="toc">
  <!-- <p class="toc-header"><i class="iconfont icon-list"></i>&nbsp;<%= __('post.toc') %></p> -->
  <p class="toc-header"><i class="iconfont icon-list"></i>&nbsp;<hr></p>
  <div class="toc-body" id="toc-body"></div>
</div>
